.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;

}
.flip{
  transform: scaleY(-1);
}
.wave{
  position: absolute;
  left: 0;
  z-index: -99;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@font-face {
  font-family: elec;
  src: url(Electrolize-Regular.ttf);
}
.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: whitesmoke;
  margin: 0;
}

.circle{
  background:radial-gradient(yellow,rgba(0,0,0,0) 65%);
  background:#0c0032;
  width: 60vmin;
  height: 60vmin;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  flex-direction: column;
}
.blob-container{
  position: relative;
  display: flex;
  justify-content: center;
}
.blob{
  width: 120vmin;
  height: 110vmin;
  position: absolute;
  left: 21%;
  top: 20%;
  background-repeat: no-repeat;
}
p{
  position: absolute;

}
.pyGrad{
  background: -webkit-linear-gradient(45deg,#802bb1 20%,#FFE400);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#userName{
  font-size: 30px;
  top: 10%;
  left: 38.5%;
  z-index: 99;
}
#passWord{
  font-size: 30px;
  top: 28%;
  left: 38.5%;
  z-index: 99;
}
.inp{
  outline: none;
  background-color: rgba(0,0,0,0);
  border-top: hidden;
  border-right: hidden;
  border-left: hidden;
  border-image-slice: 1;
  text-align: center;
  width: 150px;
  border-image-source: linear-gradient(45deg,#802bb1 5%,#FFE400);
  border-bottom-width: 1px;
  z-index: 99;
  caret-color: #802bb1;
  font-size: 20px;
  position: absolute;
  margin-top: 25px;

}
.box{
  margin-top: 25px;
  top: 40%;
  left: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
}
.submit{
  margin-left: 15px;
  margin-right: 15px;
  background: #802bb1;
  color: grey;
  transition: background 0.5s,color 0.5s;
  border: hidden;
  font-family: elec;
  border-radius: 10px;
  font-size: 30px;
}
.submit:hover{
  background: linear-gradient(45deg,rgba(128,43,177,1) 20%,rgba(255,228,0,1));
  color: #FFE400;

}
#usrInp{
  top: 15%;
  left: 38%;
}
#passInp{
  top: 32%;
  left: 37.5%;
}
#blob1{

  width: 700px;
}
#lowerleft{
  position: absolute;
  bottom: -15%;
  left: -10%;
}

body{
  background-color: black;
  overflow: hidden;
  font-family: 'elec';

}
.background-image{
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -100;
  min-width: 100%;

}
.App-link {
  color: whitesmoke;
  margin: 0;
  font-size: 40px

}
#blob2{
  opacity: 0;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
